[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
torch = "*"
fairseq = "*"
multiprocess = "*"
spacy = "*"
langdetect = "*"
astor = "*"
subword-nmt = "*"
pandas = "*"
tqdm = "*"
tensorboard = "*"
dask = "*"

[requires]
python_version = "3.7"
